body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

#cookieButton, #buyCursorButton, #buyGrandmaButton{
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 5px;
}

#cookieCount, #cursorCount, #grandmaCount{
    font-size: 30px;
    margin-top: 20px;
}